<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}">
    <head></head>
    <body>
        <div layout:fragment="contents">
            <div id="main-content">
                <a href="" id="home-link"><h1>Register</h1></a>
                <p>Create a token to use the Space Fighter API</p>
                <div id="content">
                    <form id="create-form">
                        <div class="mb-3">
                            <label for="usernameInput" class="form-label">Username: </label>
                            <input type="email" class="form-control" id="usernameInput">
                        </div>
                        <div class="mb-3">
                            <label for="passwordInput" class="form-label">Password: </label>
                            <input type="password" class="form-control" id="passwordInput">
                        </div>
                        <div>
                            <input class="btn btn-dark" type="submit" value="CREATE" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
