<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Space Fighter</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <main>
            <div id="main-content">
                <a id="home-link"><h1>Register</h1></a>
                <p>Create a token to use the Space Fighter API</p>
                <div id="content">
                    <form id="create-form">
                        <div>
                            <label for="usernameInput">Username: </label>
                            <input type="text" name="usernameInput" id="usernameInput">
                        </div>
                        <div>
                            <input type="submit" value="CREATE" >
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <script src="/js/app.js"></script>
    </body>
</html>