body {
 background-image: url("../img/background.png");
 background-repeat: no-repeat;
 background-color: #cccccc;
 background-size: cover;
}

#main-content {
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
}


#home-link {
    cursor: pointer;
}